<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ball" version="1.1.0" manuallyInstalled="true" />
  <package id="BallController" version="1.1.0" manuallyInstalled="true" />
  <package id="BallInteractor" version="1.1.0" />
  <package id="BallPresenter" version="1.1.0" manuallyInstalled="true" />
  <package id="DependencyContainer" version="1.1.0" manuallyInstalled="true" />
  <package id="Match" version="1.1.0" />
  <package id="MatchController" version="1.1.0" manuallyInstalled="true" />
  <package id="MatchInteractor" version="1.1.0" />
  <package id="MatchPresenter" version="1.1.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.5" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.5" />
  <package id="PaddlePresenter" version="1.1.0" manuallyInstalled="true" />
  <package id="Paddles" version="1.1.0" />
  <package id="PaddlesController" version="1.1.0" manuallyInstalled="true" />
  <package id="PaddlesInteractor" version="1.1.0" />
  <package id="PlayerPresenter" version="1.1.0" manuallyInstalled="true" />
  <package id="Players" version="1.1.0" />
  <package id="PlayersController" version="1.1.0" manuallyInstalled="true" />
  <package id="PlayersInteractor" version="1.1.0" />
  <package id="Stage" version="1.1.0" />
  <package id="StageController" version="1.1.0" manuallyInstalled="true" />
  <package id="StageInteractor" version="1.1.0" />
  <package id="StagePresenter" version="1.1.0" manuallyInstalled="true" />
  <package id="TickService" version="1.1.0" />
</packages>